__pycache__
.env
.DS_Store
core/artifacts/logs/*
core/artifacts/pycache/*
core/artifacts/pycache/*
core/artifacts/tensorflow/*
!core/artifacts/**/.gitignore

apps/**/artifacts/tensorboard/**/*
apps/**/artifacts/trainer/**/*

!**/.gitignore